
body {
    background-color: #1a1a1a;
    height: 100vh;
    margin: 0;
}

/* botón hamburguesa  derecha */
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; 
}

/* Botón hamburguesa */
.navbar-toggler {
    margin-right: 1rem;
}

/* menú */
.nav-link {
    font-size: 1.2rem;
    color: #fff;
    transition: color 0.3s ease;
}


.collapse .navbar-nav {
    flex-wrap: nowrap; 
}

/* Hover*/
.hoverable {
    transition: background-color 0.3s ease;
}


/* Header centrado */
header p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
